.overlay {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 5;

  opacity: 1;
  transition: opacity 1s ease;
}

.overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.delete-overlay {
  z-index: 6; /* Z-index mais alto que o conteúdo e o overlay */
  width: 45vw;
  height: 30vh;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: 0;
  font-size: 15vh;
}
