@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes slide {
  to {
    background-position: 200% 200%;
  }
}

body::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: black;
  margin: 0 20px;
  scroll-behavior: smooth;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.block-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

.image-header {
  position: fixed;
  top: 0;
  width: 15vw;
}

img {
  width: 100%;
  height: 100%;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.image-king {
  height: 65vh;
  display: flex;
  justify-content: center;
}

.image-profile {
  border-radius: 100%;
  border: 5px solid #ffffff;
  width: 14.5vw;
  height: 14.5vw;
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.image-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-profile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/grainy.gif") repeat 0 0;
  opacity: 1;
  pointer-events: none;
  transition: opacity 1s ease;
}

.image-profile:hover {
  opacity: 1;
  cursor: pointer;
}

.image-profile:hover::before {
  opacity: 0;
}

.title {
  background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #000000 10px, #000000 20px);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 16.5vh;
  animation: slide 0.7s infinite linear;
}

.subtitle {
  animation: blink 3s infinite linear;
  color: white;
  font-size: 5vh;
}

.main-name {
  color: white;
  font-size: 8.2vh;
}

.profiles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
